* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.material-symbols-outlined .arrow2 {
    /*color: white;*/
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.material-symbols-outlined .arrow2 {
    color: white;
}
.hidden {
    overflow: hidden;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrapper {
    width: 100%;
    height: 100%;
}
header {
    width: 80%;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 0 auto;
}
#subMenu2 {
    display: none;
}
/**********************상단 네비**********************/
#topGnb {
    width: 100%;
    height: 100px;
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
#topGnb:hover {
    background-color: white;
    color: #1A191B;
    transition: background-color 0.5s;
}
#topGnb #language,
#topGnb #hamburger {
    color: black;
    cursor: pointer;
}
#topGnb ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
}
#topGnb ul li {
    width: 15%;
    float: left;
    list-style: none;
    text-align: center;
    height: 100px;
    line-height: 100px;
    position: relative;
    left: -40px;
}
#topGnb ul li a::after {
    content: "";
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    transition: width 0.5s;
    margin: 0 auto;
}
#topGnb ul li:hover a::after {
    width: 50%;
    background-color: purple;
}
#topGnb ul li:hover a {
    color: purple;
    transition: color 0.5s;
}
#topGnb ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: block;
}
#topGnb span {
    color: white;
    margin-top: 40px;
}
#topGnb img {
    margin-top: 40px;
    cursor: pointer;
}
/**********************상단 네비 서브메뉴**********************/
#subMenu {
    width: 100%;
    height: 110px;
    position: absolute;
    margin-top: 100px;
    z-index: 99999 !important;
    background-color: white;
    box-sizing: border-box;
    transition: background-color 0.5s;
    display: none;
}
#subMenu .subList {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    transition: background-color 0.5s;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgrey;
    position: relative;
    z-index: 9;
    box-sizing: border-box;
}
#subMenu .subList li {
    width: 10%;
    height: 100%;
    float: left;
    /*margin: 30px;*/
    list-style: none;
    font-weight: bolder;
    position: relative;
    text-align: center;
    z-index: 99;
}
#subMenu .subList li a {
    display: block;
    position: relative;
    font-size: 1em;
    color: black;
    margin-top: 40px;
    text-decoration: none;
    z-index: 999 !important;
}
#subMenu .subList li a:hover{
    color: #60227E;
    transition: color 0.5s;
}
#subMenu li:hover,
#subMenu2 ul li a:hover{
    color: #60227E;
    transition: color 0.3s;
}
#subMenu2{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 100px;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 0.9em;
    border-top: 1px solid lightgrey;
    box-sizing: border-box;
}
#subMenu2 #subMenu2_lastTxt{
    margin-left: 10px;
}
#subMenu2 div{
    width: 220px;
    /*border: 1px solid blue;*/
    /*border-top: 1px solid lightgrey;*/
}
#subMenu2 div ul{
    width: 100%;
    height: 100%;
}
#subMenu2 #subMenu2_firstBox{
    width: 200px;
}
#subMenu2 #subMenu2_firstBox #subMenu2_textBox{
    width: 100%;
    height: 40px;
    position: relative;
}
#subMenu2  div p{
    font-size: 1.2em;
    font-weight: bolder;
    margin: 10px 0 10px 0;
}
#subMenu2 #subMenu2_firstBox .subMenu2_menu{
    width: 50%;
    height: 100%;
    float: left;
}
#subMenu2 ul li{
    position: relative;
    list-style:none;
    float: left;
    margin-bottom: 10px;
}
#subMenu2 ul li a{
    text-decoration: none;
    position: relative;
    color: #5B6168;
}
#subMenu2 ul li a:nth-of-type(1){
    margin-right: 10px;
}
/**********************모바일 네비**********************/
.mobileGnb{
    width: 100%;
    height: 100%;
    display: none;
}
.mobileMenu{
    list-style: none;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-top: 1px solid lightgrey;
    margin-left: 30px;
}
.mobileGnb #mobileTop{
    /*z-index: 200;*/
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.mobileGnb #mobileTop .close{
    cursor: pointer;
    scale: 1.3;
}
.mobileMenu li{
    margin-top: 20px;
    font-size: 1em;
    font-weight: bolder;
}
.mobileMenu li a{
    color: #60227E;
    text-decoration: none;
    font-size: 1.3em;
}
.mobileMenu #subM1 li a{
    color: black;
}
.mobileMenu #subM2 li a{
    color: #5B6168;
}
.mobileMenu #subM1 li a:hover,
.mobileMenu #subM2 li a:hover{
    color: #60227E;
    transition: color 0.5s;
}
.moreBtn1,
.moreBtn2,
.lessBtn1,
.lessBtn2{
    display: flex;
    position: absolute;
    left:80%;
    cursor: pointer;
    z-index: 9;
}
.mobileGnb .mobileMenu #subM1{
    width: 100%;
    height: 120px;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    margin-left: 30px;
    /*display: none;*/
}
.mobileGnb .mobileMenu #subM1 li{
    position: relative;
    left: -20px;
    list-style: none;
    font-size: 0.8em;
}
.mobileGnb .mobileMenu #subM2{
    width: 100%;
    height: 175px;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.mobileGnb .mobileMenu #subM2 li{
    position: relative;
    left: -20px;
    list-style: none;
    font-size: 1.1em;
    margin-top: 10px;
}
.mobileGnb .mobileMenu #subM2 li:nth-of-type(2),
.mobileGnb .mobileMenu #subM2 li:nth-of-type(3),
.mobileGnb .mobileMenu #subM2 li:nth-of-type(4){
    font-size: 0.7em;
}
/**********************title**********************/
#title {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 2.1em;
    margin:120px auto;
}
/**********************section1**********************/
#section1{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 200px;
    margin: 80px auto;
}
#section1 .textBox{
    /*display: none;*/
}
#section1 div{
    width: 260px;
}
#section1 div .name{
    font-weight: bolder;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
#section1 div .name:nth-of-type(2){
    margin-top: 50px;
}
#section1 div p{
    font-size: 0.9em;
}
#section1 div li{
    margin-left: 18px;
    margin-top: 5px;
    font-size: 0.9em;
    list-style: square;
}
/**********************section1-mobile**********************/
#section1 #section1_mobile{
    width: 500px;
    height: 320px;
    margin-top: -160px;
}
#section1 #section1_mobile div{
    float: left;
}
#section1 #section1_mobile .section1_mobile_txtBox{
    height: 30px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
#section1 #section1_mobile .section1_mobile_txtBox ul{
    width: 100%;
}
#section1 #section1_mobile .section1_mobile_txtBox:nth-of-type(4){
    margin-top: 60px;
}
#section1 #section1_mobile .section1_mobile_txtBox li{
    font-size: 0.8em;
}
#section1 #section1_mobile .section1_mobile_txtBox li:nth-of-type(2),
#section1 #section1_mobile .section1_mobile_txtBox li:nth-of-type(3),
#section1 #section1_mobile .section1_mobile_txtBox li:nth-of-type(4),
#section1 #section1_mobile .section1_mobile_txtBox li:nth-of-type(5){
    margin-left: 110px;
}
#section1 #section1_mobile div p{
    margin-top: 5px;
    font-size: 0.8em;
}
#section1 #section1_mobile div .mobileName{
    width: 90px;
    border-bottom: 2px solid black;
    font-weight: bolder;
    font-size: 0.8em;
    margin-right: 20px;
}
/**********************section2**********************/
#section2{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
#section2 #purple{
    text-align: center;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #70388B;
    opacity: 0.9;
    color: white;
    margin-right: 220px;
    z-index: 2;
}
#section2 #navy{
    text-align: center;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #53618C;
    opacity: 0.9;
    color: white;
    margin-left: 220px;
}
#section2 #purple div,
#section2 #navy div{
    margin-top: 50px;
}
#section2 #purple h1,
#section2 #navy h1{
    font-size: 6em;
    font-weight: lighter;
}
#section2 #purple p,
#section2 #navy p{
    font-size: 1.1em;
}
/**********************section3**********************/
#section3{
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
}
#section3 #client{
    text-align: center;
}
#section3 #client h1{
    font-size: 2.5em;
}
#section3 #client p{
    font-size: 0.8em;
    margin-top: 25px;
    color: #999999;
}
/**********************section3 clientImgBox**********************/
#section3 #clientImgBox{
    margin: 60px auto;
    width: 85%;
    position: relative;
}
#section3 #clientImgBox ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#section3 #clientImgBox li{
    position: relative;
    margin: 5px;
    border: 1px dashed grey;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 70px;
    list-style: none;
}
/**********************footer**********************/
#footer{
    position: relative;
    width: 100%;
    height: 180px;
    background-color: black;
    color: #999999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer div{
    position: relative;
}
#footer div img{
    margin-bottom: 30px;
}
#footer div p{
    font-size: 0.8em;
}
/***************************************************************************/
/*********************************미디어 쿼리*********************************/
/***************************************************************************/
/***************모니터 크기***************/
@media screen and (min-width: 1200px){
    #menu,
    .close,
    #section1_mobile,
    #hamburger{
        display: none;
    }
    #language{
        display: block;
    }
}
/**************타블렛 사이즈***************/
@media screen and (min-width: 841px) and (max-width: 1199px){
    #topGnb ul li,
    #section1_mobile,
    #language{
        display: none;
    }
    #hamburger{
        display: block;
        margin-right: 30px;
        scale: 1.3;
    }
    #topGnb img{
        margin-left: 30px;
    }
}
/**************모바일 사이즈***************/
@media screen and (max-width: 840px){
    #topGnb ul li,
    #title,
    #section1 .textBox,
    #language{
        display: none;
    }
    #topGnb{
        /*background-color: #1A191B;*/
    }
    #hamburger{
        display: block;
        margin-right: 30px;
        scale: 1.3;
    }
    #topGnb img{
        margin-left: 30px;
    }
    #section2{
        height: 300px;
    }
    #section2 #purple,
    #section2 #navy{
        width: 200px;
        height: 200px;
    }
    #section2 #purple{
        margin-left: 50px;
    }
    #section2 #navy{
        margin-right: 50px;
    }
    #section2 #purple div,
    #section2 #navy div{
        margin-top: 30px;
    }
    #section2 #purple h1,
    #section2 #navy h1{
        font-size: 4em;
        font-weight: lighter;
    }
    #section2 #purple p,
    #section2 #navy p{
        font-size: 0.8em;
    }
}