* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.material-symbols-outlined .arrow2 {
    color: white;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}
.hidden {
    overflow: hidden;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrapper {
    width: 100%;
    height: 100%;
}
header {
    width: 90%;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 0 auto;
    /*  border: 1px solid red;*/
}
#subMenu2 {
    display: none;
}
.po{
    cursor: pointer;
}
.bo{
    border-bottom: 1px solid black;
}
/**********************상단 네비**********************/
#topGnb {
    width: 100%;
    height: 100px;
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
#topGnb:hover {
    background-color: white;
    color: #1A191B;
    transition: background-color 0.5s;
}
#topGnb #language,
#topGnb #hamburger {
    color: black;
    cursor: pointer;
}
#topGnb ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
}
#topGnb ul li {
    width: 15%;
    float: left;
    list-style: none;
    text-align: center;
    height: 100px;
    line-height: 100px;
    position: relative;
    left: -40px;
    /*margin-right: -30px;*/
}
#topGnb ul li a::after {
    content: "";
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    transition: width 0.3s;
    margin: 0 auto;
}
#topGnb ul li:hover a::after {
    width: 50%;
    background-color: purple;
}
#topGnb ul li:hover a {
    color: purple;
    transition: color 0.5s;
}
#topGnb ul li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: block;
}
#topGnb span {
    color: white;
    margin-top: 40px;
}
#topGnb img {
    margin-top: 40px;
    cursor: pointer;
}
.gnbActive{
    border-bottom: 3px solid purple;
}
/**********************상단 네비 서브메뉴**********************/
#subMenu {
    width: 100%;
    height: 110px;
    position: absolute;
    margin-top: 100px;
    z-index: 99999 !important;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    box-sizing: border-box;
    transition: background-color 0.5s;
    display: none;
}
#subMenu .subList {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    transition: background-color 0.5s;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
    box-sizing: border-box;
}
#subMenu .subList li {
    width: 10%;
    height: 100%;
    float: left;
    /*margin: 30px;*/
    list-style: none;
    font-weight: bolder;
    position: relative;
    text-align: center;
    z-index: 99;
}
#subMenu .subList li a {
    display: block;
    position: relative;
    font-size: 1em;
    color: black;
    margin-top: 40px;
    text-decoration: none;
    z-index: 999 !important;
}
#subMenu .subList li a:hover{
    color: #60227E;
    transition: color 0.5s;
}
/*#subMenu li a{
     position: absolute;
}*/
#subMenu li:hover,
#subMenu2 ul li a:hover{
    color: #60227E;
    transition: color 0.3s;
}
#subMenu2{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 100px;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 0.9em;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    box-sizing: border-box;
}
#subMenu2 #subMenu2_lastTxt{
    margin-left: 10px;
}
#subMenu2 div{
    width: 220px;
    /*border: 1px solid blue;*/
    /*border-top: 1px solid lightgrey;*/
}
#subMenu2 div ul{
    width: 100%;
    height: 100%;
}
#subMenu2 #subMenu2_firstBox{
    width: 200px;
}
#subMenu2 #subMenu2_firstBox #subMenu2_textBox{
    width: 100%;
    height: 40px;
    position: relative;
}
#subMenu2  div p{
    font-size: 1.2em;
    font-weight: bolder;
    margin: 10px 0 10px 0;
}
#subMenu2 #subMenu2_firstBox .subMenu2_menu{
    width: 48%;
    height: 85px;
    float: left;
    /*border: 1px solid black;*/
}
#subMenu2 ul li{
    position: relative;
    list-style:none;
    float: left;
    margin-bottom: 10px;
}
#subMenu2 ul li a{
    text-decoration: none;
    position: relative;
    color: #5B6168;
}
#subMenu2 ul li a:nth-of-type(1){
    margin-right: 10px;
}
/**********************모바일 네비**********************/
.mobileGnb{
    width: 100%;
    height: 100%;
    display: none;
}
.mobileMenu{
    list-style: none;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}
.mobileGnb #mobileTop{
    /*z-index: 200;*/
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.mobileGnb #mobileTop .close{
    cursor: pointer;
    scale: 1.3;
    margin-right: 50px;
}
.mobileGnb .mobileMenu li{
    margin: 20px 0 0 30px;
    font-size: 1.3em;
    font-weight: bolder;
}
.mobileGnb .mobileMenu li a{
    color: black;
    text-decoration: none;
    /*font-size: 1.3em;*/
}
.mobileGnb .mobileMenu #subM1 li a{
    color: black;
}
.mobileGnb .mobileMenu #subM2 li a{
    color: #5B6168;
}
.mobileMenu #subM1 li a:hover,
.mobileMenu #subM2 li a:hover{
    color: #60227E;
    transition: color 0.5s;
}
.moreBtn1,
.moreBtn2,
.lessBtn1,
.lessBtn2{
    display: flex;
    position: absolute;
    left:88%;
    cursor: pointer;
    z-index: 9;
}
.mobileGnb .mobileMenu #subM1{
    width: 100%;
    height: 120px;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    margin-left: 30px;
    /*display: none;*/
}
.mobileGnb .mobileMenu #subM1 li{
    position: relative;
    left: -20px;
    list-style: none;
    font-size: 1em;
}
.mobileGnb .mobileMenu #subM2{
    width: 100%;
    height: 175px;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.mobileGnb .mobileMenu #subM2 li{
    position: relative;
    left: -20px;
    list-style: none;
    font-size: 1.1em;
    margin-top: 10px;
}
.mobileGnb .mobileMenu #subM2 li:nth-of-type(2),
.mobileGnb .mobileMenu #subM2 li:nth-of-type(3),
.mobileGnb .mobileMenu #subM2 li:nth-of-type(4){
    font-size: 1em;
}
/**********************title**********************/
#title {
    width: 100%;
    /*height: 50px;*/
    position: absolute;
    text-align: center;
    font-size: 2.1em;
    /*border: 1px solid red;*/
    margin:120px auto;
    /*display: none;*/
}
/**********************section1**********************/
#section1{
    width: 65%;
    height: 300px;
    position: relative;
    margin: 0 auto;
}
#section1 #section1_AllBox{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}
#section1 #section1_AllBox #section1_txtBox{
    width: 90%;
    height: 100%;
    position: relative;
}
#section1 #section1_AllBox #section1_txtBox h4{
    font-size: 28px;
    font-weight: 100;
    margin-left: 45px;
}
#section1 #section1_AllBox #section1_txtBox h4:nth-of-type(1){
    margin: 100px 0 0 45px;
}
#section1 #section1_AllBox #section1_BtnBox{
    width: 250px;
    height: 120px;
    background-color: #60227E;
    position: relative;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#section1 #section1_AllBox #section1_BtnBox p{
    font-size: 18px;
    font-weight: bolder;
}
#section1 #section1_AllBox #section1_BtnBox a{
    text-decoration: none;
    color: white;
    margin-top: 15px;
    font-size: 14px;
    width: 138px;
    display: inline-block;
    border-bottom: white;
}
#section1 #section1_AllBox #section1_hide_BtnBox{
    width: 90%;
    height: 110px;
    background-color: #60227E;
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bolder;
}
#section1 #section1_AllBox #section1_hide_BtnBox a{
    color: white;
    font-size: 14px;
    font-weight: lighter;
}
/**********************section2**********************/
#section2{
    width: 90%;
    height: 750px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#section2 #section2_AllBox{
    width: 100%;
    height: 100%;
    position: relative;
}
#section2 #section2_greyBox{
    width: 30%;
    height: 750px;
    position: relative;
    background-color: #EFEDEF;
}
#section2 #section2_greyBox #section2_txtBox{
    width: 350px;
    height: 130px;
    position: relative;
    padding-top: 20px;
}
#section2 #section2_greyBox #section2_txtBox h1{
    margin: 0 0 0 40px;
    font-size: 26px;
}
#section2 #section2_greyBox #section2_txtBox p{
    margin: 15px 0 0 40px;
    font-size: 14px;
    color: #888888;
}
#section2 #section2_greyBox #section2_pillBox{
    position: absolute;
    width: 100%;
    height: 500px;
}
#section2 #section2_greyBox #section2_pillBox .box{
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-left: 40px;
}
#section2 #section2_greyBox #section2_pillBox .lastBox{
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: left;
    font-size: 13px;
    margin-left: 25px;
}
#section2 #section2_greyBox #section2_pillBox .lastBox span{
    margin: 10px 10px 15px 15px;
    width: auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 13px;
    padding: 0 5px 5px 5px;
    cursor: pointer;
}
#section2 #section2_greyBox #section2_pillBox .box span{
    width: auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 13px;
    padding: 0 5px 5px 5px;
    cursor: pointer;
}
#section2 #section2_greyBox #section2_pillBox #realLastBox{
    border: 1px solid black;
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    border-radius: 13px;
    padding: 0 5px 5px 5px;
    cursor: pointer;
    margin: 10px 0 0 40px;
    font-size: 13px;
}
.active{
    background-color: black;
    color: white;
    transition: background-color 0.5s,color 0.5s;
}
#section2 #section2_inputBox{
    width: 70%;
    height: 100%;
    position: absolute;
    margin-left: 360px;
}
#section2 #section2_inputBox #section2_inputBox_txt{
    position: relative;
    width: 90%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
#section2 #section2_inputBox #section2_inputBox_txt h1{
    font-size: 26px;
    margin-top: 15px;
}
#section2 #section2_inputBox #section2_inputBox_txt p{
    font-size: 14px;
    margin-top: 15px;
}
.star{
    color: #E90A39;
}
#section2 #section2_inputBox #section2_form{
    width: 90%;
    height: 639px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid black;
    /*margin: 30px 0 0 70px;*/
}
#section2 #section2_inputBox #section2_form #section2_form_txt{
    width: 100%;
    height: 100%;
    position: relative;
}
#section2 #section2_inputBox #section2_form #section2_form_txt div{
    margin: 22px 0 0 30px;
    display: flex;
    align-items: center;
    position: relative;
}
#section2 #section2_inputBox #section2_form #section2_form_txt textarea{
    width: 500px;
    height: 180px;
    border: 1px solid lightgrey;
    resize: none;
}
#section2 #section2_inputBox #section2_form #section2_form_txt input{
    width: 500px;
    height: 30px;
    border: 1px solid lightgrey;
}
#section2 #section2_inputBox #section2_form #section2_form_txt .radio{
    width: 20px;
    height: 20px;
    color: black;
}
#section2 #section2_inputBox #section2_form #section2_form_txt .radio_txt{
    position: relative;
    top: -5px;
    font-size: 13px;
}
#section2 #section2_inputBox #section2_form #section2_form_txt #Input_fileBox input{
    position: absolute;
    bottom: 0;
}
#section2 #section2_inputBox #section2_form #section2_form_txt #Input_fileBox #fileInput{
    position: absolute;
    bottom: 5px;
    float: right;
}
#section2 #section2_inputBox #section2_form #section2_form_txt #money{
    font-size: 14px;
}
#section2 #section2_inputBox #section2_form #section2_form_txt p{
    display: inline-block;
    margin-right: 70px;
    width: 100px;
    font-size: 16px;
}
/**********************section2_hide**********************/
#section2 #section2_hideGreyBox{
    width: 93%;
    height: 250px;
    margin: 50px auto;
    position: relative;
    background-color: #EFEDEF;
}
#section2 #section2_hideGreyBox #section2_hideTxtBox{
    position: relative;
    width: 100%;
    height: auto;
}
#section2 #section2_hideGreyBox #section2_hideTxtBox h1{
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 26px;
}
#section2 #section2_hideGreyBox #section2_hideTxtBox p{
    margin: 25px 0 0 30px;
    font-size: 14px;
    color: #888888;
}
#section2 #section2_hideGreyBox #section2_hidePillBox{
    position: relative;
    width: 100%;
    margin-top: 30px;
}
#section2 #section2_hideGreyBox #section2_hidePillBox .box{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    margin-left: 20px;
}
#section2 #section2_hideGreyBox #section2_hidePillBox .box span{
    width: auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 13px;
    padding: 0 5px 5px 5px;
    cursor: pointer;
    margin: 10px;
}
#section2 #section2_HideInputBox{
    width: 90%;
    height: 690px;
    position: absolute;
    top: 350px;
}
#section2 #section2_HideInputBox #section2_HideInputBox_txt{
    position: relative;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
#section2 #section2_HideInputBox #section2_HideInputBox_txt h1{
    font-size: 26px;
    margin-top: 5px;
}
#section2 #section2_HideInputBox #section2_HideInputBox_txt p{
    font-size: 14px;
    margin-top: 5px;
}
#section2 #section2_HideInputBox #section2_HideForm{
    width: 93%;
    height: 630px;
    position: relative;
    left: 30px;
}
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt{
    position: relative;
    width: 100%;
    height: 100%;
}
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt p{
    position: relative;
    display: inline-block;
}
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt div{
    width: 100%;
    margin: 22px 0 0 30px;
    display: flex;
    align-items: center;
    position: relative;
}
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt textarea{
    width: 200%;
    height: 180px;
    border: 1px solid lightgrey;
    resize: none;
    margin-left: 36px;
}
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt input{
    width: 200%;
    height: 30px;
    border: 1px solid lightgrey;
    margin-left: 50px;
}
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt #file{
    width: 100%;
}
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt .radio{
    width: 20px;
    height: 20px;
    color: black;
    margin-left: 30px;
}
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt .radio_txt{
    position: relative;
    top: -5px;
    font-size: 13px;
}
/*#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt #fileInput{
    position: absolute;
    bottom: 5px;
    float: right;
}*/
#section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt #HideMoney {
    font-size: 14px;
}
/**********************section3**********************/
#section3{
    width: 100%;
    height: 400px;
    margin: 70px auto;
    position: relative;
}
#section3 #section3_allBox{
    width: 100%;
    height: 200px;
    border: 1px solid #ddd;
    position: relative;
    margin-top: 20px;
}
#section3 #section3_allBox #section3_txtBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #888888;
}
#section3 #section3_allBox #section3_txtBox p{
    font-size: 14px;
}
#section3 #section3_allBox #section3_txtBox div{
    margin: 25px 0 0 30px;
    position: relative;
    width: 100%;
    height: auto;
}
#section3 #section3_allBox #section3_labelBox{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    padding: 4px;
}
#section3 #section3_allBox #section3_labelBox #section3_checkBox{
    width: 20px;
    height: 20px;
}
#section3 #section3_allBox #section3_labelBox span{
    position: relative;
    top: -4px;
}
#section3 #flex-box{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#section3 #section3_submitBox{
    width: 120px;
    height: 50px;
    position: relative;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    top: 50px;
    background: #60227e;
}
#section3 #section3_submitBox a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 13px;
    color: white;
}
#section3 h1{
    font-size: 26px;
}
/**********************footer**********************/
#footer{
    position: relative;
    width: 100%;
    height: 180px;
    background-color: black;
    color: #999999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#footer div{
    position: relative;
}
#footer div img{
    margin-bottom: 30px;
}
/***************************************************************************/
/*********************************미디어 쿼리*********************************/
/***************************************************************************/
/***************모니터 크기***************/
@media screen and (min-width: 1200px){
    #menu,
    .close,
    #section1_mobile,
    #hamburger,
    #section2 #section2_HideInputBox,
    #section2 #section2_hideGreyBox{
        display: none;
    }
    #language{
        display: block;
    }
    #section1 #section1_AllBox #section1_hide_BtnBox{
        display: none;
    }
}
/**************타블렛 사이즈***************/
@media screen and (min-width: 841px) and (max-width: 1199px){
    #topGnb ul li,
    #title,
    #language,
    #section2_greyBox,
    #section2_pillBox,
    #section2_inputBox,
    #section1 #section1_AllBox #section1_BtnBox{
        display: none;
    }
    #hamburger{
        display: block;
        margin-right: 30px;
        scale: 1.3;
    }
    #topGnb img{margin-left: 30px;}
    #section1{
        width: 100%;
        margin: -150px 0 40px 0;
        display: flex;
    }
    #section1 #section1_AllBox{
        flex-direction: column;
    }
    #section1 #section1_AllBox #section1_hide_BtnBox{
        display: block;
    }
    #section1 #section1_AllBox #section1_txtBox h4{
        display: inline-block;
    }
    #section2{
        width: 100%;
        height: 1150px;
    }
}
/**************모바일 사이즈***************/
@media screen and (max-width: 840px) {
    #topGnb ul li,
    #title,
    #language,
    #section2 #section2_greyBox,
    #section2 #section2_pillBox,
    #section2 #section2_inputBox,
    #section1 #section1_AllBox #section1_BtnBox{
        display: none;
    }
    #topGnb {
        /*background-color: #1A191B;*/
    }
    #hamburger {
        display: block;
        margin-right: 30px;
        scale: 1.3;
    }
    #topGnb img {
        margin-left: 30px;
    }
    #section1{
        width: 100%;
        margin: -200px 0 10px 0;
        display: flex;
    }
    #section1 #section1_AllBox{
        flex-direction: column;
    }
    #section1 #section1_AllBox #section1_BtnBox{
        display: none
    }
    #section1 #section1_AllBox #section1_hide_BtnBox{
        height: 70px;
    }
    #section2{
        width: 100%;
        height: 1150px;
    }
    #section2 #section2_hideGreyBox{
        margin-top: 100px;
        height: 280px;
    }
    #section2 #section2_hideGreyBox #section2_hideTxtBox h1{
        position: relative;
        top: 20px;
        left: 30px;
        font-size: 20px;
    }
    #section2 #section2_hideGreyBox #section2_hideTxtBox p{
        font-size: 14px;
        color: #888888;
    }
    #section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt div{
        margin: 20px auto;
        position: relative;
    }
    #section2 #section2_HideInputBox #section2_HideForm{
        left: 20px;
    }
    #section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt textarea,
    #section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt input {
        width: 120%;
    }
    #section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt input{
        margin-left: 30px;
    }
    #section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt textarea{
        margin-left: 15px;
    }
    #section2 #section2_HideInputBox #section2_HideForm #section2_HideForm_txt #file{
        margin-left: 25px;
    }
    #section2 #section2_HideInputBox{
        top: 430px;
    }
    #section3 #section3_allBox #section3_txtBox{
        overflow: scroll;
    }
    #section3 h1{
        margin-left: 20px;
    }
    #section3 #section3_allBox{
        width: 95%;
        margin: 0 auto;
    }
    #section3 #section3_allBox #section3_txtBox div{
        width: 95%;
        margin: 20px 0 0 20px;
    }
}